*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5efe6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    min-height: 100vh;
    font-family: sans-serif;
}

.container{
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0px  10px 30px rgb(0, 0, 0);
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    position: relative;
}

.screen{
    display: none;
    padding: 2rem;
    text-align: center;
}

.screen.active{
    display: block;
    
}

/* Start Screen */
#start-screen h1{
    color: #e86a33;
    margin-bottom: 20px;
    font-size: 2.5rem;
} 

#start-screen p{
    color: #666;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}
.quiz-header{
    margin-bottom: 2rem;
}

#questions-text{
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    line-height: 1.4;
}

.quiz-info{
display: flex;
justify-content: space-between;
color: #666;
margin-bottom: 10px;
}

.answer-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.answer-btn{
    background-color: #f8f0e5;
    color:#333;
    border: 2px solid #eadbc8;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    text-align: left;
}

.answer-btn:hover{
background-color: #eadbc8;
border-color: #dac0ae;
transition: all 0.3s ease;
}
.answer-btn.correct{
    background-color: #e6fff0;
    border-color: #a3f0c4;
    color: #28a745;
}

.answer-btn.incorrect{
    background-color: #fff0f0;
    border-color: #ffbdbd;
    color: #dc3545;
}

.progress-bar{
    height: 10px;
    background-color: #f8f0e5;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
    cursor: not-allowed;
}

.progress{
    height: 100%;
    background-color: #e86a33;
    width: 0%;
    transition: width 0.3s ease;
}

/* Result Screen */

#result-screen{
    color:#e86a33;
    margin-bottom: 30px;
}

.result-info{
    background-color: #f8f0e5;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

.result-info p{
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 1rem;
}

#result-message{
    font-size: 1.5rem;
    font-weight: 600;
    color: #e86a33;
}

button{
    background-color: #e86a33;
    color: white;
    border: none;
    border-radius: 10px;
    padding:15px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

button:hover{
    background-color:#d45b28;
    transform: scale(1.099); /* used for zoom in and zoom out */
    transition: 0.4s ease;
}

 /* Media Query  */
@media (max-width : 500px) {
 .container{
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0px  10px 30px rgb(0, 0, 0);
    width: 100%;
    max-width: 250px;
    overflow: hidden;
    position: relative;
}   
    
#start-screen p{
    color: #666;
    margin-bottom: 0.5rem;
    font-size: 0.6rem;
}

#start-screen h1{
    color: #e86a33;
    margin-bottom: 20px;
    font-size: 1.1rem;
    
} 

button{
    background-color: #e86a33;
    color: white;
    border: none;
    border-radius: 10px;
    padding:10px 20px;
    font-size: 0.6rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.quiz-header{
    margin-bottom: 4rem;
}

#question-text{
    color: #333;
    font-size: 0.6rem;
    margin-bottom: 5rem;
    line-height: 1.4;
}

.quiz-info{
display: flex;
justify-content: space-between;
color: #000000;
margin: 10px;
}
}

.btn{
  margin: 20px;
    font-size: 1.7rem;
}



#List{
    font-size: 1.5rem;
    padding: 20px;
}
#D-list{
    font-size: 1.5rem;
    margin-bottom: 5rem;
}

#drop-down-list-screen h1{
    margin-bottom: 3rem;
}

#drop-down-list-screen select{
    font-size: 1.5rem;
}
p{
    font-size: 0.9rem;
}